<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Taku</title>
  <link href="https://fonts.googleapis.com/css2?family=Athiti&display=swap" rel="stylesheet">
  <!--<link rel="stylesheet" type="text/css" href="/css/login.css">-->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  
</head>

<body>
  <header>
    <img src ="/assets/BOOK-TAKU_transparent_copy.png" alt="Book-Taku logo">
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style logout">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
    <a href="/api/books">Library</a>
  </nav>
  <main>
    <div class=" ">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>