<section class="container">
  <h3 class="booklist-name">{{booklist.name}}</h3>
  <section class="flex-row justify-center">
    <!-- For each book that belongs to this booklist, the book-details partial is used to render each book's data -->
    {{#each booklist.books as |book|}}
    {{> book-details}}
    {{/each}}
  </section>
</section>