{{!-- Welcome page --}}
<div class="content-container">
 <h1>Welcome to Book-Taku!</h1>
    <p>A place where avid readers can share their thoughts on books they've read. </br>
    Head on over to <a href="/api/books">The Library</a> to see what books people have read and enjoyed so far!</p>
    </div>