   <section>
    <div class="container content-container flex-container">
        <div class="forms">
            <div class="form login">
                <h2 class="login-registration-title">Login</h2>

                <form class= "login-form" action="#">
                    <div class="input-field">
                        <input type="text" id="username-login" placeholder="Enter your username" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" id="password-login" placeholder="Enter your password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
                        
                        <a href="#" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                        <input class="button" type="submit" value="Login Now">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="/sign-up" class="text signup-link">Sign up now</a>
                    </span>
                </div>
            </div>

                </div>
            </div>
        </div>
    </div>
    <script src="/js/login.js"></script>
    </section>

   