<div class="container content-container">

        <div class="forms">

            <!-- Registration Form -->
            <div class="form signup">
                <span class="title">Registration</span>

                <form class="signup-form" action="#">
                    <div class="input-field">
                        <input type="text" id="username-signup" placeholder="Enter your name" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" id="password-signup" class="password" placeholder="Create a password" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Confirm a password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    

                    <div class="input-field button">
                        <input type="submit" value="Sign Up">
                    </div>
                </form>

            </div>
            <script src="/js/signup.js"></script>
        </div>
    </div>

    

