html {
  font-family: 'Athiti', serif;
}

body {
  /* background: #faf5ec; */
  background-image: url('/assets/bookshelves.jpg');
  margin: 0;
  width: 100vw;
  height: 100vh;
}

header {
  /* background: #faf5ec; */
  /* background-color: #b1c8c7; */
  /* background-color: #a39081; */
  /* background-color: #d6a692; */
  /* background-color: #efd9b4; */
  background-color: rgb(250, 245, 236, 0.9);
  width: 100%;
  text-align: center;
}

/* styling for nav items */
nav {
  background-color: rgba(177, 200, 199, 0.959);
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 1.5rem;
}

/* styling for content containers */
.content-container {
  background-color: rgba(238, 185, 162, 0.9);
  border-radius: 0.3rem;
  margin-top: 2rem;
  margin: 3rem;
  padding: 1.5rem;
}

/* styling for library title on library.handlebars */

#library-title {
  font-size: 3rem;
  text-align: center;
}

/* styling for book title on library.handlebars */
.library-book-title {
  font-size: 2rem;
}

/* styling for author name on library.handlebars */
.library-author {
  font-size: 1.1rem;
}

/* remove list styling on library page */
.library-list {
  list-style: none;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
}

/* utility classes */
.hidden {
  display: none;
}
